<template>
	<div id="app">
		<transition name="slide-down" mode="out-in">
			<navbar v-if="showHeader"/>
		</transition>
		<transition name="slide-up" mode="out-in">
			<router-view/>
		</transition>
	</div>
</template>

<script>
import Navbar from "@/components/app/Navbar";

export default {
  name: "app-root",
  components: {
    Navbar
  },
  data: function() {
    return {
      showHeader: false
    };
  },
  created: function() {
    setTimeout(() => (this.showHeader = true), 100);
  }
};
</script>

<style>
.dashboard {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  height: auto;
}
/*
	Slide down
 */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.3s;
}

.slide-down-enter {
  transform: translateY(-100%);
}

.slide-down-leave-to {
  transform: translateY(-100%);
}

/*
	Slide-up
 */
.slide-up-enter-active {
  transition: all 0.4s;
}

.slide-up-enter {
  transform: translateY(20px);
  opacity: 0;
}
.slide-up-leave-active {
  transition: all 0.1s;
}
.slide-up-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
</style>
