<template>
	<div class="dashboard">
    <div class="results">
      <div class="yeahhhh">
        <p class="bravo"><span class="color-change">Oh no !</span> 😭</p>
        <p class="great">Your bike is <span class="red">not we<span class="color-change">ll</span> parked</span></p>
        <p class="points">You don't earn points, try next time</p>
      </div>
      <div class="after">
        <p>You can earn more points when you spot an awful parking bike or when you help us to filter community pictures !</p>
      </div>
      <div class="ctas">
        <button class="take-pic" @click="$router.push('/app')">Take an other pic'</button>
        <button class="filter">Filter photos (coming soon)</button>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.color-change
  font-style: italic
  color: #dd2f45

.results
  width: 100%
  text-align: center

  .yeahhhh
    margin-bottom: 50px
  
  .bravo
    font-size: 30px
    font-weight: 500
    margin-bottom: 10px
    
  .great
    font-size: 20px
    font-weight: 400
    margin-bottom: 10px
    
    .green
      color: #04E762
  
  .points
    font-size: 20px
    font-weight: 400
    text-decoration: underline
  
  .after
    p
      font-size: 20px
      font-weight: 300
  
  .ctas
    margin-top: 50px
    display: flex
    align-items: middle
    flex-direction: column
  
    .take-pic
      margin-bottom: 20px
      height: 60px
      border: none
      border-radius: 5px
      background-color: #dd2f45
      color: #FFFFFF
      font-size: 20px
  
    .filter
      height: 60px
      border: none
      border-radius: 5px
      background-color: #AEAEAE
      color: #FFFFFF
      font-size: 20px

</style>
