<template>
	<div class="dashboard">
		<div class="help-content">
			<div class="iframe"><iframe src="https://giphy.com/embed/rdma0nDFZMR32" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
			<h2>Do you need <span class="color-change">help</span> ?</h2>
			<p>Sorry, we did not provide any type of support or help for now, but we have a super happy pig (His name is <span class="color-change">PiggyPop</span>) who is the best to make you smile if you have a bug or a problem.</p>
			<p>If you have a real problem, we are on twitter : <a href="https://twitter.com/WellParked" target="_blank">@WellParked</a></p>
		</div>
	</div>
</template>

<style lang="sass" scoped>
.color-change
	color: #dd2f45
	font-style: italic

.help-content
		padding: 20px
		background-color: #FFFFFF
		border-radius: 5px
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
	
		.iframe
			width: 100%
			height: 0
			padding-bottom: 72%
			position: relative
			border-radius: 5px
			overflow: hidden
	
		h2
			margin-top: 20px
			margin-bottom: 20px
			font-size: 20px
			font-weight: 500
		
		p
			font-size: 16px
			font-weight: 300
			line-height: 1.3
			margin-bottom: 10px
	
		a
			color: #dd2f45
</style>
