<template>
  <div class="dashboard">
    <form @submit.prevent="onPostImage()" method="POST" enctype="multipart/form-data">

      <input-file v-if="!image" name="image" @change="onChangeFile($event)"></input-file> 

      <template v-else>
        <div class="yeah">
          <span class="color-change">Are</span> you sure ?
        </div>
        <div class="upload">
          <img class="protected" :src="imgSrc" />
          <div @click="onDeleteImage()" class="del-img">
            <i class="far fa-times"></i>
          </div>
        </div>

        <button class="footer" :class="{ 'fetching': fetching }">
          <i class="fal fa-upload"></i>
          <span type="submit">Upload</span>
        </button>
      </template>
    </form>
  </div>
</template>

<script>
// import axios from "axios";
import InputFile from "@/components/InputFile";
import AWS from "aws-sdk";

export default {
  name: "home-view",
  components: {
    InputFile
  },
  data: function() {
    return {
      image: undefined,
      imgSrc: undefined,
      fetching: false,
      rekognized: undefined
    };
  },
  created: function() {
    AWS.config.region = "us-east-2"; // Region
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: "us-east-2:558db28c-f0fb-4e79-bf49-ec739369a446"
    });
  },
  methods: {
    onChangeFile($event) {
      console.log("onChangeFile");
      this.image = $event.target.files[0];
      const fileReader = new FileReader();
      fileReader.readAsDataURL(this.image);
      fileReader.onloadend = evt => {
        this.imgSrc = evt.target.result;
      };
    },
    onDeleteImage() {
      this.image = undefined;
      this.imgUrl = undefined;
    },
    onPostImage() {
      const fileReader = new FileReader();
      fileReader.readAsDataURL(this.image);
      fileReader.onloadend = this.postImage;
    },
    getBinary(encodedFile) {
      var base64Image = encodedFile.split(",")[1];
      var binaryImg = atob(base64Image);
      var length = binaryImg.length;
      var ab = new ArrayBuffer(length);
      var ua = new Uint8Array(ab);
      for (var i = 0; i < length; i++) {
        ua[i] = binaryImg.charCodeAt(i);
      }
      return ab;
    },
    postImage(evt) {
      const rekognition = new AWS.Rekognition();
      const params = {
        Image: { Bytes: this.getBinary(evt.target.result) },
        MaxLabels: 10,
        MinConfidence: 77
      };

      setTimeout(() => this.$router.push("/app/bad-parked"), 500);
      rekognition.detectLabels(params, (err, data) => {
        if (err) {
          console.log(err, null); // an error occurred
        } else {
          console.log(data);
          this.rekognized = data;
          // this.$router.push("/app/bad-parked");
        }
      });
    }
  }
};
</script>

<style lang="sass" scoped>
.protected
  object-fit: cover
  width: 100%
  position: relative

.upload
  position: relative
  height: calc(100% - 220px)
  border: 5px solid #ECECEC
  border-radius: 5px
  padding: 0px
  display: flex
  align-items: center
  justyf-content: center
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  background-color: #FFFFFF

  .del-img
    position: absolute
    top: 10px
    right: 10px
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: red
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    z-index: 100
    
    i
      font-size: 25px
      color: #FFFFFF
  
    span
      font-size: 20px
      text-align: center
      color: #AEAEAE
  
.yeah
  margin-bottom: 10px
  font-size: 20px
  font-weight: 500

.color-change
  color: #dd2f45
  font-style: italic

.footer
  width: 100%
  height: 70px
  background-color: #04E762
  position: fixed
  bottom: 0
  left: 0
  box-shadow: 0px 5px 40px 0px rgba(4, 231, 98, 0.5)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: #F8F9FF
  cursor: pointer
  border: none

  .fetching
    background-color: rgba(0, 228, 95, 0.5)


  i
    font-size: 25px
    margin-bottom: 6px
  
  span
    font-size: 14px
    font-weight: 400
    color: #F8F9FF
    border: none
    background-color: transparent
</style>
