<template>
  <div class="dashboard">
    <div class="profil">
      <div class="profil-pic">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/194136/1200px-Seattle_Sounders_FC.svg.png" alt=""/>
      </div>
      <div class="profil-infos">
        <a href="javascript:(void)" class="settings"><i class="far fa-cog"></i></a>
        <span class="name">Dédé the pig</span>
        <span class="mail">dedethepig@pig.com</span>
        <span class="rank">Rank : <span class="color-change level">Expert</span></span>
      </div>
    </div>
    
    <div class="take-pics">
      <div class="taken-pics">
        <div>
          <span class="number">28</span>
          <span class="msg">Perfect parking</span>
        </div>
      </div>

      <div class="taken-pics">
        <div>
          <span class="number">01</span>
          <span class="msg">Bad parking</span>
        </div>
      </div>
    </div>

    <div class="available-credits">
      <div class="legend">
        <span class="number">348</span>
        <span class="msg">Earned points</span>
      </div>
      <button class="convert">Convert</button>
    </div>
    
    <p class="notice">You can convert all your points to free runs on your favorite bikesharing app !</p>
  </div>
</template>

<style lang="sass" scoped>
.dashboard
  margin-bottom: 20px !important

.profil
  width: 100%
  margin: 0 auto
  
  .profil-pic
    z-index: 2
    margin: 0 auto
    overflow: hidden
    position: relative
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: #FFFFFF
    border: 5px solid #dd2f45
    padding: 5px
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
  
    img
      width: 100%
      height: 100%
      object-fit: contain
  
  .profil-infos
    position: relative
    z-index: 1
    background-color: #FFFFFF
    border-radius: 5px
    margin: 0 auto
    padding: 15px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    padding-top: 80px
    margin-top: -75px
    text-align: center
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
  
    .name
      font-size: 18px
      font-weight: 500
      margin-bottom: 5px
  
    .mail
      font-size: 14px
      color: #8E8E8E
      font-weight: 400
      margin-bottom: 15px
  
    .rank
      font-size: 20px
      font-weight: 500
      margin-bottom: 15px
  
    .level
      text-decoration: underline
      cursor: pointer
  
    .settings
      position: absolute
      top: 20px
      right: 20px
      font-size: 25px
      color: #8E8E8E
.take-pics
  display: flex
  align-items: center
  justify-content: space-between
  
  .taken-pics
    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-align: left
    flex-direction: column
    margin-top: 10px
    width: 48%
    height: 80px
    background-color: #FFFFFF
    border-radius: 5px
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
  
    div
      display: flex
      align-items: center
      text-align: left
      justify-content: flex-start
      flex-direction: column
  
  .number
    color: #dd2f45
    font-weight: 500
    font-size: 30px
  
  .msg
    font-size: 15px
    font-weight: 300
  
.available-credits
  position: relative
  display: flex
  align-items: center
  justify-content: center
  text-align: left
  margin-top: 10px
  width: 100%
  height: 90px
  background-color: #FFFFFF
  border-radius: 5px
  overflow: hidden
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)

  .legend
    padding: 15px
    display: flex
    flex-direction: column
    width: 60%
  
    .number
      color: #dd2f45
      font-weight: 500
      font-size: 30px
  
    .msg
      font-size: 15px
      font-weight: 300
  
  .convert
    width: 40%
    background-color: #dd2f45
    border: none
    color: #FFFFFF
    height: 100%
    cursor: pointer
    text-transform: uppercase
    text-decoration: underline
  
.notice
  font-size: 13px
  color: #8E8E8E
  margin-top: 10px
  font-style: italic
  font-weight: 300

.color-change
  font-style: italic
  color: #dd2f45
</style>
