<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>wellparked</title>
  <link rel="stylesheet" href="<%= BASE_URL %>reset.css">
  <link rel="stylesheet" href="<%= BASE_URL %>fontawesome/css/all.min.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h"
    crossorigin="anonymous">

  <!-- AWS SDK -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.279.1.min.js"></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but wellparked doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
