<template>
  <!--  -->
  <header>
    <nav class="header-container">
      <router-link to="/app/help" class="nav-i">
        <i class="fal fa-question-circle"></i>
      </router-link>
      <router-link to="/app" class="logo">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/194136/logo.png" alt="logo">
      </router-link>
      <router-link to="/app/profile" class="nav-i">
        <i class="fal fa-user-circle"></i>
      </router-link>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Navbar"
};
</script>

<style lang="sass" scoped>
header
	width: 100%
	height: 70px
	background-color: #FFFFFF
	left: 0
	top: 0
	position: fixed
	z-index: 9999
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)

	.header-container
		position: relative
		width: 80%
		height: 100%
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: space-between
	
		.nav-i
			i
				font-size: 30px
				color: #dd2f45
	
		.logo 
			position: relative
			height: 100%
			display: flex
			align-items: center
			
			img
				height: 50%

</style>
