<template>
<div>
  <transition name="slide-right" mode="out-in">
    <router-view/>
  </transition>
</div>
</template>


<style>
.next-link {
  text-align: center;
  margin-top: 15px;
}
.next-link > a {
  color: #dd2f45;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s ease-in-out;
}

.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-leave-to {
  transform: translateX(-100%);
}
</style>
