<template>
	<div id="splashscreen">
		<div class="main-content">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/194136/logo.png" alt="Bicycle emoji">
			<h1>We<span class="color-change">ll</span> Parked</h1>
			
			<div class="loader">
				Loading...
			</div>
		</div>
		
		<div class="credits">
			Made at the @AngelHack Seattle event - 2018
		</div>
	</div>
</template>

<script>
export default {
  created: function() {
    setTimeout(() => this.$router.push("/onboarding"), 2000);
  }
};
</script>

<style lang="sass" scoped>
#splashscreen
	position: relative
	height: 100vh
	width: 100vw
	overflow: hidden

	.main-content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
	
		img
			opacity: 0
			width: 80%
			max-width: 300px
			margin: 0 auto
			animation: opacity 1s linear
			animation-fill-mode: forwards

		h1
			opacity: 0
			margin-top: 40px
			font-weight: 500
			font-size: 30px
			animation: opacity 1s linear
			animation-fill-mode: forwards
	
			.color-change
				color: #dd2f45
				font-style: italic
	
	.loader
		margin-top: 30%
		font-size: 20px
		font-weight: 300
		animation: blink 700ms linear alternate infinite
		

	.credits
		opacity: 0
		position: absolute
		left: 50%
		bottom: 50px
		transform: translateX(-50%)
		width: 80%
		text-align: center
		color: #C5C5C5
		font-weight: 300
		font-size: 12px
		animation: opacity 1s linear
		animation-fill-mode: forwards
	
@keyframes opacity
	from
		opacity: 0
	to
		opacity: 1
	
@keyframes blink
	from
		opacity: 0
	to
		opacity: 1

</style>
