<template>
	<div class="upload">
			<input type="file" @change="$emit('change', $event)">
			<div class="upload-content">
				<i class="far fa-images"></i>
				<span>You can choose a picture from your gallery or directly take a photo with your phone !</span>			
  	</div>
	</div>
</template>

<script>
export default {
  name: "input-file",
  data: function() {
    return {
      file: undefined
    };
  }
};
</script>


<style lang="sass" scoped>
.upload
	padding: 50px !important // Dirty
	cursor: pointer
	position: relative
	height: calc(100% - 120px)
	border: 5px dashed #ECECEC
	border-radius: 5px
	padding: 40px
	display: flex
	align-items: center
	justyf-content: center

	input
		position: absolute
		width: 100%
		height: 100%
		opacity: 0
		cursor: pointer

	.upload-content
		height: 60%
		display: flex
		align-items: center
		justify-content: space-around
		flex-direction: column
		
		i
			font-size: 90px
			color: #ECECEC
	
		span
			font-size: 20px
			text-align: center
			color: #AEAEAE
</style>
