<template>
<div class="onboarding">
	<div class="container">
		<div class="skip-onboarding">
      <router-link to="/app">
			  Skip >
      </router-link>
		</div>
		<header>
			<h1>We<span class="color-change">ll</span> Parked ?</h1>
		</header>

		<div class="content-slider">
			<div class="illustration">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/194136/What.png" alt=""/>
			</div>
			<p>We<span class="color-change">ll</span> Parked is a service who say you if your bicycles is correctly parked or not !</p>
			<p>You can also report wrong parked bicycles to win points.</p>
		</div>

    <div class="next-link">
      <router-link to="2">Next ></router-link>
    </div>

    <nav-dots></nav-dots>		
	</div>
</div>
</template>

<script>
import NavDots from "@/components/onboarding/NavDots";

export default {
  components: {
    NavDots
  }
};
</script>

<style lang="sass" scoped>
.onboarding
  position: relative
  height: 100vh
  width: 100vw
  max-width: 414px
  margin: 0 auto
  overflow: hidden

.container
  width: 80%
  height: 100vh
  margin: 0 auto
  position: relative

.skip-onboarding
  position: relative
  display: flex
  align-items: center
  justify-content: flex-end
  text-align: right
  margin-top: 30px
  text-decoration: underline
  cursor: pointer
  a
    color: #CECECE

header
  position: relative
  left: 50%
  transform: translateX(-50%)
  padding: 30px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  h1
    margin-top: 40px
    font-weight: 500
    font-size: 30px
    animation: opacity 1s linear
    animation-fill-mode: forwards
    position: relative
    text-align: center
    margin: 0

.color-change
  color: #dd2f45
  font-style: italic

.content-slider
  position: relative
  height: auto
  width: 100%
  margin: 0 auto 

  p
    text-align: center
    font-size: 16px
    font-weight: 300
    letter-spacing: 1px
    line-height: 20px
    margin-bottom: 10px

  .illustration
    position: relative
    height: 40vh
    margin-bottom: 15%
    display: flex
    align-items: center
    justify-content: center
    
    img
      height: 100%
      width: auto

.slide-navigation
  position: absolute
  left: 50%
  bottom: 10%
  transform: translateX(-50%)
  width: 80%
  text-align: center
  color: #dd2f45
  font-weight: 300
  width: 50%
  display: flex
  align-items: center
  justify-content: space-around

  i
    cursor: pointer
</style>
