<template>
  <div class="slide-navigation">
    <router-link to="1">
      <i class="fa-circle" :class="screenNb === '1' ? 'fas' : 'far'"></i>
    </router-link>
    <router-link to="2">
      <i class="fa-circle" :class="screenNb === '2' ? 'fas' : 'far'"></i>
    </router-link>
    <router-link to="3" >
      <i class="fa-circle" :class="screenNb === '3' ? 'fas' : 'far'"></i>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "nav-dots",
  data: function() {
    return {
      screenNb: this.$router.currentRoute.path.slice(-1)
    };
  }
};
</script>

<style lang="sass" scoped>
.slide-navigation
  position: absolute
  left: 50%
  bottom: 10%
  transform: translateX(-50%)
  width: 80%
  text-align: center
  font-weight: 300
  width: 50%
  display: flex
  align-items: center
  justify-content: space-around
  a
    color: #dd2f45
  i
    cursor: pointer
</style>
