<template>
  <router-view/>
</template>


<style>
/* Global Style */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
body {
  width: 100vw;
  height: auto;
  background-color: #f8f9ff;
  font-family: "Rubik", sans-serif;
}
</style>
